.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  padding-bottom: 42px;
}
.logo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  border-radius: 50%;
  padding-right: 26px;
}
